* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --color-plan: #6500ff;
}
.container {
    margin: 0 auto;
    width: 80%;
    min-width: 200px;
}

.first-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    h1 {
        width: 70%;
    }

    p {
        width: 15%;
    }
}
#plans-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
}
.plan {
    width: calc(100%/3 - (15px*2)/3);
    min-width: 250px;
    flex-grow: 1;
    flex-shrink: 0;
    border-radius: 2em;
    padding: 1em;
    box-shadow: 1px 1px 1px 1px grey;
}
.debug>* {
    border: 1px solid purple;
}