* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-plan: #6500ff;
}
.container {
    margin: 0 auto;
    width: 80%;
    min-width: 200px;
}

.first-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    h1 {
        width: 70%;
    }

    p {
        width: 15%;
    }
}
#plans-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
}
.plan {
    width: calc(100%/3 - (15px*2)/3);
    min-width: 250px;
    flex-grow: 1;
    flex-shrink: 0;
    border-radius: 2em;
    padding: 1em;
    box-shadow: 1px 1px 1px 1px grey;
    display: flex;
    flex-direction: column;
    p {
        display: inline;
    }

    &.inverted-color {
        background-color: var(--color-plan);
        color: white;
    }
}
.discount {
    background-color: lightgray;
}
.choose-button {
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    &:not(.inverted-color) {
        background-color: var(--color-plan);
        color: white; 
    }
    &.inverted-color {
        background-color: white;
        color: var(--color-plan);
    }
    
}
.centered {
    margin: 0.5rem auto; 
}
.price {
    display: inline;
    font-size: 2em;
}
ul {
    list-style: none;
}
header {
    margin: 2rem 1rem 4rem 1rem;

}
.end-align {
    text-align: end;
}
.bi {
    color: black;
}
.grey {
    color:grey
}
.debug>* {
    border: 1px solid purple;
}