* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 80%;
    min-width: 200px;
}

.first-line {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    h1 {
        width: 70%;
    }

    p {
        width: 15%;
    }
}
#plans-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.debug>* {
    border: 1px solid purple;
}